body {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 48x;
  font-family: "roboto";
}

/* HEADER */
.header,
.footer {
  background-color: #1f2937;
  color: white;
}

.header {
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.opener {
  display: flex;
  justify-content: center;
  gap: 72px;
  /* border: 2px solid green; */
  padding: 96px 0;
}

.opener-container {
  /* border: 2px solid red; */
  height: auto;
  max-width: 400px;
  flex: 1;
}

.opener-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  /* border: 2px solid yellow; */
  margin: 0;
}

.opener-container p {
  /* border: 2px solid yellow; */
  font-size: 18px;
  color: #e5e7eb;
}

.opener-container.big-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 200px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 6px 24px;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  min-width: 100px;
  height: auto;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 64px;
  padding-bottom: 96px;
  gap: 32px;
}

.info h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 0;
}

.info-container {
  display: flex;
  gap: 24px;
}

.info-box {
  flex: 1;
  /* border: 2px solid red; */
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-img {
  /* border: 2px solid green; */
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* QUOTE */
.quote {
  background-color: #e5e7eb;
  /* border: 2px solid red; */
  padding: 32px 64px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  padding: 48px 0;
  /* max-width: 900px; */
  display: flex;
  justify-content: center;
  /* align-self: center; */
}

.quote-container {
  max-width: 1200px;
  /* border: 2px solid blue; */
  padding: 0 16px;
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
  text-align: end;
  padding-right: 72px;
}

/* CALL TO ACTION */
.call-to-action {
  padding: 64px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.call-to-action-container {
  padding: 56px 128px;
  background-color: #3882f6;
  /* border: 2px solid green; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 800px;
}

.call-to-action-text {
  /* border: 2px solid red; */
  gap: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action-text h1 {
  margin: 0;
}

.call-to-action-text p {
  color: #e5e7eb;
  margin: 0;
}

.call-to-action .button {
  border: 2px solid white;
  font-size: 16px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 16px;
}
