body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* HEADER */
.header,
.footer {
  background-color: #1f2937;
  color: white;
}

.header {
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.opener {
  display: flex;
  justify-content: center;
  gap: 48px;
  /* border: 2px solid green; */
}

.opener-container img {
  background-color: slategray;
}

.opener-container {
  /* border: 2px solid red; */
  width: 150px;
  flex: 1 1 auto;
}

.opener-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  /* border: 2px solid yellow; */
  margin: 0;
}

.opener-container p {
  /* border: 2px solid yellow; */
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 4px 20px;
  border: none;
  cursor: pointer;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 64px;
  gap: 32px;
}

.info h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 0;
}

.info-container {
  display: flex;
  gap: 24px;
}

.info-box {
  flex: 1;
  border: 2px solid red;
  text-align: center;
}

/* QUOTE */
.quote {
  background-color: #e5e7eb;
  border: 2px solid red;
  padding: 32px 64px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  /* max-width: 900px; */
  /* display: flex;
  flex-direction: column; */
  /* align-self: center; */
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
  text-align: end;
  padding-right: 72px;
}

/* CALL TO ACTION */
.call-to-action {
  background-color: #3882f6;
  margin: 72px;
  padding: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.call-to-action-text {
  border: 2px solid red;
  gap: 0;
  color: white;
}

.call-to-action-text h1 {
  margin: 0;
}

.call-to-action-text p {
  color: #e5e7eb;
  margin: 0;
}

.call-to-action .button {
  border: 2px solid white;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 16px;
}
